body
{
    font-family: 'Brush Script ', cursive;
    background-color: #333;
    text-align: center;
}
#game{
    border: 3px solid brown;
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: lightgray;
    color: #222;
    box-shadow: 5px 5px 7px  brown;
}

